.App {
    // background-color: #4376F0;
    display: grid;
    max-height: 100vh;
    padding: 100px 150px;
    position: relative;
    &.single-card > svg {
            opacity: 0;
            transform: scale(0) rotate(125deg);
    }
    svg {
        position: fixed;
        // animation: float 10s infinite;
        z-index: -1;
        transition: all 1s;
        &.about-svg {
            top: 80px;
            left: 200px;
        }
        &.projects-svg {
            top: 150px;
            right: 450px;
        }
        &.writings-svg {
            bottom: 120px;
            left: 280px;
        }
        &.contact-svg {
            bottom: 160px;
            right: 150px;
        }
        &.expand {
            opacity: 1;
            transform: scale(28) rotate(75deg);
        }
    }
}

@keyframes float {
    20% {
        transform: scale(.8) rotate(15deg);
    }

    45% {
        transform: scale(1.1) rotate(0);
    }

    60% {
        transform: scale(1) rotate(-20deg);
    }

    85% {
        transform: scale(1.3) rotate(6deg);
    }
}