@import "./shared.scss";

.App {
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    font-family: 'museo-sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2.6;
    @include goingLarge(1000) {
        line-height: 35px;
    }
    &.single-card > svg {
            opacity: 0;
            transform: scale(0) rotate(125deg);
    }
    svg {
        position: fixed;
        // animation: float 10s infinite;
        z-index: -1;
        transition: all 1s ease-out;
        &.about-svg {
            top: 95px;
            right: 20px;
            &.hovered {
                transform: translateX(40px) translateY(-40px) scale(1.2) rotate(35deg);
            }
            @include goingLarge(1100) {
                top: 75px;
                right: 250px;
            }
            @include goingLarge(1440) {
                top: 165px;
                right: 350px;
            }
            @include goingLarge(1920) {
                top: 225px;
                right: 460px;
            }
        }
        &.projects-svg {
            bottom: 75px;
            left: 25px;
            &.hovered {
                transform: translateX(-40px) translateY(-40px) scale(1.2) rotate(-25deg);
            }
            @include goingLarge(1100) {
                bottom: 50px;
                left: 195px;
            }
            @include goingLarge(1440) {
                bottom: 175px;
                left: 255px;
            }
            @include goingLarge(1920) {
                bottom: 255px;
                left: 495px;
            }
        }
        &.writings-svg {
            bottom: 20px;
            right: 20px;
            &.hovered {
                transform: translateX(30px) translateY(-20px) scale(1.2) rotate(55deg);
            }
            @include goingLarge(1100) {
                bottom: 120px;
                right: 120px;
            }
            @include goingLarge(1440) {
                bottom: 180px;
                right: 140px;
            }
            @include goingLarge(1920) {
                bottom: 180px;
                right: 250px;
            }
        }
        &.contact-svg {
            top: 30px;
            left: 40px;
            &.hovered {
                transform: translateX(-20px) translateY(30px) scale(1.2) rotate(-35deg);
            }
            @include goingLarge(1100) {
                top: 80px;
                left: 100px;
            }
            @include goingLarge(1440) {
                top: 130px;
                left: 150px;
            }
            @include goingLarge(1920) {
                top: 170px;
                left: 350px;
            }
        }
        &.expand {
            opacity: 1;
            transform: scale(15) rotate(125deg);
            @include goingLarge(600) {
                transform: scale(25) rotate(125deg);
            }
            @include goingLarge(1000) {
                transform: scale(38) rotate(125deg);
            }
        }
    }
}