.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 240px);
  grid-template-areas: 
  "card1 card2"
  "card3 card4";
  grid-gap: 10px;
  text-align: center;
  .card {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 1px 2px 8px 1px #f9b4f033;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
}