@import "./shared.scss";

.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 200px);
  grid-template-areas: 
  "card1 card2"
  "card3 card4";
  justify-self: center;
  align-self: center; 
  grid-gap: 20px;
  max-width: 700px;
  margin-inline: 24px;
  text-align: center;

  @include goingLarge(1000) {
    max-width: 800px;
  }

  .card {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 16px;
    box-shadow: 1px 2px 8px 1px rgba(249, 180, 240, 0.2);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    h2 {
      margin: 0;
      font-size: 1.2rem;
      @include goingLarge(600) {
        font-size: 1.5rem;
      }
    }
  }
}