@import "./shared.scss";

.projects-page {
  color: #fff;
  padding: 60px 0;
  @include goingLarge(1000) {
    padding: 100px;
  }
  @include goingLarge(1400) {
    padding: 150px 200px;
  }
  .page-content {
    padding-left: 20px;
    @include goingLarge(1100) {
      padding-left: 40px;
    }
  }
}