button:active, button:focus, a:active, a:focus {
  outline: none; }

.App {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  font-family: 'museo-sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2.6; }
  @media (min-width: 62.5em) {
    .App {
      line-height: 35px; } }
  .App.single-card > svg {
    opacity: 0;
    transform: scale(0) rotate(125deg); }
  .App > svg {
    position: fixed;
    z-index: -1;
    transition: all 1s;
    width: 50px; }
    @media (min-width: 21.875em) {
      .App > svg {
        width: 80px; } }
    @media (min-width: 34.375em) {
      .App > svg {
        width: 100px; } }
    @media (min-width: 43.75em) {
      .App > svg {
        width: 150px; } }
    .App > svg.about-svg {
      top: 2px;
      right: 80px; }
      @media (min-width: 43.75em) {
        .App > svg.about-svg {
          top: 95px;
          right: 20px; }
          .App > svg.about-svg.hovered {
            width: 140px;
            height: 140px; } }
      @media (min-width: 68.75em) {
        .App > svg.about-svg {
          top: 75px;
          right: 250px; } }
      @media (min-width: 90em) {
        .App > svg.about-svg {
          top: 165px;
          right: 350px; } }
      @media (min-width: 120em) {
        .App > svg.about-svg {
          top: 225px;
          right: 460px; } }
    .App > svg.projects-svg {
      bottom: 5px;
      left: 25px; }
      @media (min-width: 43.75em) {
        .App > svg.projects-svg {
          bottom: 75px;
          left: 25px; }
          .App > svg.projects-svg.hovered {
            width: 165px;
            height: 165px; } }
      @media (min-width: 68.75em) {
        .App > svg.projects-svg {
          bottom: 50px;
          left: 195px; } }
      @media (min-width: 90em) {
        .App > svg.projects-svg {
          bottom: 175px;
          left: 255px; } }
      @media (min-width: 120em) {
        .App > svg.projects-svg {
          bottom: 255px;
          left: 495px; } }
    .App > svg.writings-svg {
      bottom: 30px;
      right: 30px; }
      @media (min-width: 43.75em) {
        .App > svg.writings-svg {
          bottom: 20px;
          right: 20px; }
          .App > svg.writings-svg.hovered {
            width: 170px;
            height: 170px; } }
      @media (min-width: 68.75em) {
        .App > svg.writings-svg {
          bottom: 120px;
          right: 120px; } }
      @media (min-width: 90em) {
        .App > svg.writings-svg {
          bottom: 180px;
          right: 140px; } }
      @media (min-width: 120em) {
        .App > svg.writings-svg {
          bottom: 180px;
          right: 250px; } }
    .App > svg.contact-svg {
      top: 5px;
      left: 60px; }
      @media (min-width: 43.75em) {
        .App > svg.contact-svg {
          top: 30px;
          left: 40px; }
          .App > svg.contact-svg.hovered {
            width: 190px;
            height: 190px; } }
      @media (min-width: 68.75em) {
        .App > svg.contact-svg {
          top: 80px;
          left: 100px; } }
      @media (min-width: 90em) {
        .App > svg.contact-svg {
          top: 130px;
          left: 150px; } }
      @media (min-width: 120em) {
        .App > svg.contact-svg {
          top: 170px;
          left: 350px; } }
    .App > svg.expand {
      opacity: 1;
      transform: scale(38) rotate(125deg); }
