// Import all component styles
@import './sass/shared.scss';
@import './sass/App.scss';
@import './sass/CardContainer.scss';
@import './sass/AboutCard.scss';
@import './sass/ProjectsCard.scss';
@import './sass/WritingsCard.scss';
@import './sass/ContactsCard.scss';
@import './sass/AboutPage.scss';
@import './sass/ProjectsPage.scss';
@import './sass/WritingsPage.scss';
@import './sass/ContactsPage.scss';
@import './sass/BtnBack.scss';
@import './sass/customScroll.scss';
