.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 240px);
  grid-template-areas: "card1 card2" "card3 card4";
  text-align: center; }
  .card-container .card {
    display: grid;
    place-items: center center;
    padding: 20px; }
