button:active, button:focus, a:active, a:focus {
  outline: none; }

.about-page {
  height: 100vh;
  color: #fff;
  padding: 60px 0;
  position: relative; }
  @media (min-width: 62.5em) {
    .about-page {
      padding: 80px 180px 100px 100px; } }
  @media (min-width: 87.5em) {
    .about-page {
      padding: 100px 500px 100px 200px; } }
  .about-page p.page-tag {
    display: none;
    text-shadow: 2px 6px 10px #bd26e2; }
    @media (min-width: 62.5em) {
      .about-page p.page-tag {
        display: block;
        font-size: 5rem;
        transform: rotate(-90deg);
        position: fixed;
        top: 40%;
        font-weight: 700;
        opacity: 0.1; } }
    @media (min-width: 87.5em) {
      .about-page p.page-tag {
        font-size: 6rem; } }
  .about-page .page-content {
    position: relative;
    padding: 0 20px;
    height: 100%; }
    @media (min-width: 68.75em) {
      .about-page .page-content {
        padding-left: 40px; } }
    .about-page .page-content h1 {
      font-size: 2rem; }
      @media (min-width: 37.5em) {
        .about-page .page-content h1 {
          font-size: 2.8rem;
          line-height: 40px; } }
    .about-page .page-content h3 {
      font-size: 1.8rem; }
      @media (min-width: 62.5em) {
        .about-page .page-content h3 {
          font-size: 2.2rem; } }
    .about-page .page-content p {
      font-size: 1.3rem; }
      @media (min-width: 37.5em) {
        .about-page .page-content p {
          font-size: 1.8rem; } }
      .about-page .page-content p span.hand-wave {
        display: inline-block;
        animation: heyy 3s infinite; }

@keyframes heyy {
  20% {
    transform: scale(1.3) rotate(85deg); }
  25% {
    transform: scale(1.3) rotate(25deg); }
  30% {
    transform: scale(1.3) rotate(85deg); }
  35% {
    transform: scale(1.3) rotate(25deg); }
  40% {
    transform: scale(1.3) rotate(85deg); }
  45% {
    transform: scale(1.3) rotate(25deg); }
  50% {
    transform: scale(1.3) rotate(85deg); }
  70% {
    transform: scale(1) rotate(0); } }
