button:active, button:focus, a:active, a:focus {
  outline: none; }

.App {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 0 20px;
  position: relative;
  font-family: 'museo-sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2.6; }
  @media (min-width: 62.5em) {
    .App {
      line-height: 35px; } }
  .App.single-card > svg {
    opacity: 0;
    transform: scale(0) rotate(125deg); }
  .App > svg {
    position: fixed;
    z-index: -1;
    transition: all 1s;
    width: 65px; }
    @media (min-width: 21.875em) {
      .App > svg {
        width: 90px; } }
    @media (min-width: 34.375em) {
      .App > svg {
        width: 100px; } }
    @media (min-width: 43.75em) {
      .App > svg {
        width: 150px; } }
    .App > svg.about-svg {
      top: 30px;
      left: 20px; }
      @media (min-width: 43.75em) {
        .App > svg.about-svg {
          top: 95px;
          left: 20px; }
          .App > svg.about-svg.hovered {
            width: 140px;
            height: 140px; } }
      @media (min-width: 68.75em) {
        .App > svg.about-svg {
          top: 75px;
          left: 220px; } }
      @media (min-width: 90em) {
        .App > svg.about-svg {
          top: 100px;
          left: 280px; } }
      @media (min-width: 120em) {
        .App > svg.about-svg {
          top: 225px;
          left: 380px; } }
    .App > svg.projects-svg {
      top: 2px;
      right: 15px; }
      @media (min-width: 43.75em) {
        .App > svg.projects-svg {
          top: 25px;
          right: 45px; }
          .App > svg.projects-svg.hovered {
            width: 165px;
            height: 165px; } }
      @media (min-width: 68.75em) {
        .App > svg.projects-svg {
          top: 50px;
          right: 100px; } }
      @media (min-width: 90em) {
        .App > svg.projects-svg {
          top: 175px;
          right: 185px; } }
      @media (min-width: 120em) {
        .App > svg.projects-svg {
          top: 155px;
          right: 355px; } }
    .App > svg.writings-svg {
      bottom: 5px;
      left: 5px; }
      @media (min-width: 43.75em) {
        .App > svg.writings-svg {
          bottom: 20px;
          left: 20px; }
          .App > svg.writings-svg.hovered {
            width: 170px;
            height: 170px; } }
      @media (min-width: 68.75em) {
        .App > svg.writings-svg {
          bottom: 50px;
          left: 120px; } }
      @media (min-width: 90em) {
        .App > svg.writings-svg {
          bottom: 150px;
          left: 150px; } }
      @media (min-width: 120em) {
        .App > svg.writings-svg {
          bottom: 120px;
          left: 300px; } }
    .App > svg.contact-svg {
      bottom: 25px;
      right: 30px; }
      @media (min-width: 43.75em) {
        .App > svg.contact-svg {
          bottom: 30px;
          right: 40px; }
          .App > svg.contact-svg.hovered {
            width: 180px;
            height: 180px; } }
      @media (min-width: 68.75em) {
        .App > svg.contact-svg {
          bottom: 90px;
          right: 130px; } }
      @media (min-width: 90em) {
        .App > svg.contact-svg {
          bottom: 130px;
          right: 120px; } }
      @media (min-width: 120em) {
        .App > svg.contact-svg {
          bottom: 190px;
          right: 350px; } }
    .App > svg.expand {
      opacity: 1;
      transform: scale(40) rotate(75deg); }
      @media (min-height: 1300px) and (min-width: 1000px) {
        .App > svg.expand {
          transform: scale(50) rotate(75deg); } }
      @media (min-width: 100em) {
        .App > svg.expand {
          transform: scale(50) rotate(65deg); } }
