@import "./shared.scss";

.projects-page {
  height: 100vh;
  position: relative;
  color: #fff;
  padding: 60px 0;
  @include goingLarge(1000) {
    padding: 80px 100px 60px;
  }
  @include goingLarge(1400) {
    padding: 100px 200px 60px;
  }
  p.page-tag {
    @include page-tag;
  }
  .page-content {
    position: relative;
    height: 100%;
    padding-left: 20px;
    @include goingLarge(1100) {
      padding-left: 40px;
    }
    h1 {
      @include heading-style;
      .glass-svg {
        width: 30px;
        height: 30px;
        vertical-align: top;
        position: relative;
        @include goingLarge(600) {
          width: 40px;
          height: 40px;
        }
        .emoji-smily {
          animation: muhaha 6s infinite;
        }
      }
    }
    p {
      font-size: 1.2rem;
      &.page-intro {
        padding-right: 20px;
      }
      @include goingLarge(800) {
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
    .projects-container {
      padding-top: 50px;
      .project-item {
        padding-right: 20px;
        margin-bottom: 80px;
        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 250px;
          margin: 0 auto;
          background-color: #fff;
          border-radius: 5px;
        }
        .project-heading {
          h2 {
            font-size: 1.8rem;
            &::before{
              content: "";
              display: inline-block;
              vertical-align: top;
              margin-right: 10px;
              width: 5px;
              height: 30px;
              z-index: 1;
              background-color: #1ecbff;
              box-shadow: -2px 3px 15px 3px rgba(174, 236, 255, 0.612);      
            }
          }
        }
        .thumb {
          display: grid;
          justify-items: center;
          margin-bottom: 20px;
          img {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
          }
        }
        .project-links {
          text-align: center;
          a {
            @include link-style;
            font-weight: 700;
            margin: 5px;
            @include goingLarge(800) {
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
        }
        .project-details {
          padding-bottom: 20px;
          p {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@keyframes muhaha {
  10% {
    d: path("m47.05519,42.71051c-9.33509,7.19373 -19.70741,7.06753 -29.04251,0c-1.15248,-0.88344 -2.07446,0.63103 -1.38298,2.01929c2.8812,5.04823 8.52835,9.71785 15.90423,9.71785s13.02303,-4.54341 15.90423,-9.71785c0.69149,-1.38826 -0.2305,-2.90273 -1.38298,-2.01929")
  }
  11% {
    d: path("m45.78329,43.40684c-8.46024,6.76695 -17.8605,6.64823 -26.32073,0c-1.04447,-0.83103 -1.88005,0.59359 -1.25337,1.8995c2.61118,4.74874 7.7291,9.14132 14.41373,9.14132s11.80255,-4.27386 14.41373,-9.14132c0.62668,-1.3059 -0.20889,-2.73052 -1.25337,-1.8995")
  }
  14% {
      d: path("m47.05519,42.71051c-9.33509,7.19373 -19.70741,7.06753 -29.04251,0c-1.15248,-0.88344 -2.07446,0.63103 -1.38298,2.01929c2.8812,5.04823 8.52835,9.71785 15.90423,9.71785s13.02303,-4.54341 15.90423,-9.71785c0.69149,-1.38826 -0.2305,-2.90273 -1.38298,-2.01929")
  }
  16% {
    d: path("m45.78329,43.40684c-8.46024,6.76695 -17.8605,6.64823 -26.32073,0c-1.04447,-0.83103 -1.88005,0.59359 -1.25337,1.8995c2.61118,4.74874 7.7291,9.14132 14.41373,9.14132s11.80255,-4.27386 14.41373,-9.14132c0.62668,-1.3059 -0.20889,-2.73052 -1.25337,-1.8995")
  }
  18% {
    d: path("m47.05519,42.71051c-9.33509,7.19373 -19.70741,7.06753 -29.04251,0c-1.15248,-0.88344 -2.07446,0.63103 -1.38298,2.01929c2.8812,5.04823 8.52835,9.71785 15.90423,9.71785s13.02303,-4.54341 15.90423,-9.71785c0.69149,-1.38826 -0.2305,-2.90273 -1.38298,-2.01929")
  }
  20% {
    d: path("m45.78329,43.40684c-8.46024,6.76695 -17.8605,6.64823 -26.32073,0c-1.04447,-0.83103 -1.88005,0.59359 -1.25337,1.8995c2.61118,4.74874 7.7291,9.14132 14.41373,9.14132s11.80255,-4.27386 14.41373,-9.14132c0.62668,-1.3059 -0.20889,-2.73052 -1.25337,-1.8995")
  }
  22% {
    d: path("m47.05519,42.71051c-9.33509,7.19373 -19.70741,7.06753 -29.04251,0c-1.15248,-0.88344 -2.07446,0.63103 -1.38298,2.01929c2.8812,5.04823 8.52835,9.71785 15.90423,9.71785s13.02303,-4.54341 15.90423,-9.71785c0.69149,-1.38826 -0.2305,-2.90273 -1.38298,-2.01929")
  }
  65% {
    d: path("m40.44623,47.37953c-5.37251,3.45941 -11.34196,3.39871 -16.71447,0c-0.66327,-0.42484 -1.19389,0.30346 -0.79593,0.97106c1.65818,2.42765 4.90822,4.67323 9.15316,4.67323s7.49498,-2.18489 9.15316,-4.67323c0.39796,-0.6676 -0.13265,-1.3959 -0.79593,-0.97106")
  }
}