@import "./shared.scss";

.writings-page {
  height: 100vh;
  color: #fff;
  padding: 60px 0;
  position: relative;
  @include goingLarge(1000) {
    padding: 80px 180px 100px 100px;
  }
  @include goingLarge(1600) {
    padding: 100px 300px 100px 200px;
  }
  p.page-tag {
    @include page-tag;
  }
  .page-content {
    padding: 0 20px;
    height: 100%;
    position: relative;
    @include goingLarge(1100) {
      padding-left: 40px;
    }
    h1 {
      @include heading-style;
    }
    p {
      font-size: 1.2rem;
      @include goingLarge(800) {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    .article-list {
      margin-top: 50px;
      ul {
        padding-left: 0;
        li {
          list-style-type: none;
          position: relative;
          margin-bottom: 30px;
          a {
            @include link-style;
            line-height: 35px;
            font-size: 1rem;
            margin: 0;
            @include goingLarge(800) {
              font-size: 2rem;
            }
          }
          span {
            position: relative;
            padding: 2px 5px;
            // border-radius: 3px;
            left: 0;
            bottom: -8px;
            color: #fff;
            background-color: rgb(0, 163, 98);
            font-size: .9rem;
            @include goingLarge(1000) {
              bottom: 0;
              left: 20px;
            }
          }
        }
      }
    }
  }
}